<div class='card mb-4'>
  <div class='card-body'>
    <form role='form'>
      <div class='form-row'>
        <div class='form-group col-md-3'>
          <div><label><%= I18n.t('graph.filter.tags') %></label></div>
          <div><%= select :line_graph,
            :tags,
            grouped_options_for_select(tag_options, Tag.where(default_for_filter: true).pluck(:id)),
            {},
            { class: 'filter', multiple: true, 'data-actions-box' => true }
          %></div>
        </div>
        <div class='form-group col-md-3'>
          <div ><label><%= I18n.t('graph.filter.start_time') %></label></div>
          <div ><%= date_select :line_graph,
            :filter_start_time,
            { order: %i[month year], default: @presenter.team_stats_presenter.filter_start_time },
            class: 'filter'
          %></div>
        </div>
        <div class='form-group col-md-3'>
          <div><label><%= I18n.t('graph.filter.end_time') %></label></div>
          <div><%= date_select :line_graph,
            :filter_end_time,
            { order: %i[month year], default: @presenter.team_stats_presenter.filter_end_time },
            class: 'filter'
          %></div>
        </div>
      </div>
    </form>
  </div>
</div>
