<div class='container my-4 xs-row-reverse'>

  <%= render 'team_tabs' %>

  <%= render(
    partial: 'shared/highlights',
    locals: {
      highlights: [
        {
          icon: 'people',
          colour: 'purple',
          label: 'Members',
          value: @presenter.paginated_users.total_count
        },
        {
          icon: 'bar-chart',
          colour: 'green',
          label: 'Average delivery',
          value: '90%'
        },
        {
          icon: 'compass',
          colour: 'yellow',
          label: 'People under 80%',
          value: '4'
        },
        {
          icon: 'flag',
          colour: 'red',
          label: 'Average team delivery',
          value: '< 1%'
        }
      ]
    }
  ) %>

  <div class='row'>
    <div class='col-12'>
      <div class='card my-4'>
        <div class='card-body'>
          <canvas id='line-graph'></canvas>
        </div>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col-12'>
      <div class='card mb-4'>
        <div class='card-body'>
          <form role='form'>
            <div class='row form-group'>
              <div class='col-1'><label><%= I18n.t('graph.filter.tags') %></label></div>
              <div class='col-11'><%= select :line_graph,
                :tags,
                grouped_options_for_select(tag_options, Tag.pluck(:id)),
                { },
                { class: 'filter', multiple: true, 'data-actions-box' => true }
              %></div>
            </div>
            <div class='row form-group'>
              <div class='col-1'><label><%= I18n.t('graph.filter.start_time') %></label></div>
              <div class='col-11'><%= date_select :line_graph,
                :filter_start_time,
                { order: %i[month year], default: @presenter.team_stats_presenter.filter_start_time },
                class: 'filter'
              %></div>
            </div>
            <div class='row form-group'>
              <div class='col-1'><label><%= I18n.t('graph.filter.end_time') %></label></div>
              <div class='col-11'><%= date_select :line_graph,
                :filter_end_time,
                { order: %i[month year], default: @presenter.team_stats_presenter.filter_end_time },
                class: 'filter'
              %></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
