<div class='container my-4 xs-row-reverse'>
  <%= render 'team_tabs' %>

  <%= render 'shared/filters',
    filter_tag_ids: @presenter.team_stats_presenter.filter_tag_ids,
    filter_start_time: @presenter.team_stats_presenter.filter_start_time,
    filter_end_time: @presenter.team_stats_presenter.filter_end_time %>

  <%= render 'boxes' %>

  <div class='row'>
    <div class='col-12'>
      <div class='card my-4'>
        <div class='card-body'>
          <div class="mb-4 float-left">
            <% @presenter.team_stats_presenter.graph_kind_options.each do |key| %>
              <%= radio_button_tag 'graph_kind', key, **(@presenter.team_stats_presenter.graph_kind == key ? { checked: 'checked' } : {}) %>
              <%= label_tag "graph_kind_#{key}", t("graphs.#{key}.name") %>
              &nbsp;
            <% end %>
          </div>
          <div class="mb-4 float-right">
            <% @presenter.team_stats_presenter.time_scope_options.each do |key| %>
              <%= radio_button_tag 'time_scope', key, **(@presenter.team_stats_presenter.time_scope == key ? { checked: 'checked' } : {}) %>
              <%= label_tag "time_scope_#{key}", t("graph.time_scope.#{key}") %>
              &nbsp;
            <% end %>
          </div>
          <canvas id='line-graph' data-time-scope="<%= @presenter.team_stats_presenter.time_scope -%>"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
