<div class='container my-4'>
  <%= render 'team_tabs' %>

  <div class='row'>
    <div class='col-12'>
      <h5>
        <%= I18n.t('graph.title.individuals') %>
      </h5>
      <p>
        <%= I18n.t('graph.showing_users', count: @presenter.paginated_users.total_count) %>
      </p>
      <div class='card my-4'>
        <div class='card-body'>
          <canvas id='bar-chart'></canvas>
        </div>
      </div>
    </div>
  </div>

  <%= render 'filters' %>
  <%= render 'individuals_table' %>
</div>
