<div class='container my-4'>

  <%= render 'team_tabs' %>

  <div class='row'>
    <div class='col-12'>
      <h5>
        <%= I18n.t('graph.title.individuals') %>
      </h5>
      <p>
        <%= I18n.t('graph.showing_users', count: @presenter.paginated_users.total_count) %>
      </p>
      <div class='card my-4'>
        <div class='card-body'>
          <canvas id='bar-chart'></canvas>
        </div>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col-12'>
      <p>
        <%= I18n.t('graph.showing_users', count: @presenter.paginated_users.count) %>
      </p>
      <div class='table-responsive'>
        <table class='table table-bordered'>
          <thead>
            <tr>
              <th>
                <%= User.human_attribute_name('name') %>
              </th>
              <th>
                <%= Plan.human_attribute_name('name') %>
              </th>
              <th>
                <%= TimeRangeType.actual_type.name %>
              </th>
              <th>
                <%= User.human_attribute_name('percentage_delivered') %>
              </th>
              <th>
                <%= User.human_attribute_name('status') %>
              </th>
            </tr>
          </thead>
          <tbody>
            <% @presenter.paginated_users.each do |user| %>
              <% cache user do %>
                <% user_presenter = UserStatsPresenter.new(user: user, actual_id: TimeRangeType.actual_type.id) %>
                <tr>
                  <td>
                    <%= user.name %>
                  </td>
                  <td>
                    <% if user_presenter.average_weekly_planned.nil? %>
                      <%= icon('question-circle') %>
                    <% else %>
                      <%= duration_in_words(user_presenter.average_weekly_planned.minutes) %>
                    <% end %>
                  </td>
                  <td>
                    <% if user_presenter.average_weekly_actual.nil? %>
                      <%= icon('question-circle') %>
                    <% else %>
                      <%= duration_in_words(user_presenter.average_weekly_actual.minutes) %>
                    <% end %>
                  </td>
                  <td>
                    <% if user_presenter.percentage_delivered.nil? %>
                      <%= icon('question-circle') %>
                    <% else %>
                      <%= user_presenter.percentage_delivered%>%
                    <% end %>
                  </td>
                  <td class="<%= user_presenter.status.parameterize %>">
                    <%= user_presenter.status%>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
      <%= paginate @presenter.paginated_users %>
    </div>
  </div>

</div>
