<%= render 'tabs' %>

<div class='container my-5'>

  <div class='row'>
    <div class='col-12'>
      <h5>
        <%= I18n.t('individuals.chart_title') %>
      </h5>
      <p>
        Showing
        <%= @presenter.paginated_users.total_count %>
        users
      </p>
      <div class='card my-4'>
          <div class='card-body'>
            <canvas id='bar-chart'></canvas>
          </div>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col-12'>
      <p>
        Showing
        <%= @presenter.paginated_users.count %>
        users
      </p>
      <div class='table-responsive'>
        <table class='table table-bordered'>
          <thead>
            <tr>
              <th scope='col'>
                <%= I18n.t('user.name') %>
              </th>
              <th scope='col'>
                <%= TimeRangeType.plan_type.name %>
              </th>
              <th scope='col'>
                <%= TimeRangeType.actual_type.name %>
              </th>
              <th scope='col'>
                <%= I18n.t('user.percentage_delivered') %>
              </th>
              <th scope='col'>
                <%= I18n.t('user.status') %>
              </th>
            </tr>
          </thead>
          <tbody>
            <% @presenter.paginated_users.each do |user| %>
              <% user_presenter = UserStatsPresenter.new(user: user, plan_id: TimeRangeType.plan_type.id, actual_id: TimeRangeType.actual_type.id) %>
              <tr>
                <td>
                  <%= user.first_name %> <%= user.last_name %>
                </td>
                <td>
                  <%= user_presenter.average_weekly_planned %>
                </td>
                <td>
                  <%= user_presenter.average_weekly_actual %>
                </td>
                <td>
                  <%= user_presenter.percentage_delivered%>%
                </td>
                <td class="<%= user_presenter.status.parameterize.underscore %>">
                  <%= user_presenter.status%>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <%= paginate @presenter.paginated_users %>
    </div>
  </div>

</div>
