<div class='container my-4'>
  <div class='row'>

    <div class='col-12'>
      <%= render 'user_tabs' %>
    </div>

    <div class='col-sm-4 my-4'>
      <h1>
        <%= I18n.t('app.name') %>
      </h1>

      <p class='my-4'>
        <%= I18n.t('home.you_can') %>
      </p>

      <ul>
        <li>
          <%= I18n.t('home.compare_plan_with_actuals') %>
        </li>
        <li>
          <%= I18n.t('home.drill_down') %>
        </li>
      </ul>
    </div>
  </div>
</div>
