<%= bootstrap_form_for(note) do |f| %>
  <div class='modal-body'>
    <%= f.select :state, note_states_for_select, label: I18n.t('notes.labels.state') %>
    <%= f.date_field :start_time, label: I18n.t('notes.labels.start_time') %>
    <%= f.text_area :content, label: I18n.t('notes.labels.content') %>
  </div>
  <div class='modal-footer'>
    <%= f.primary I18n.t('notes.add') %>
    <button type='button' class='btn btn-secondary mr-auto' data-dismiss='modal'><%= I18n.t('notes.cancel') %></button>
  </div>
<% end %>
