<%= bootstrap_form_for(note, remote: true) do |f| %>
  <div class='modal-body'>
    <%= f.select :state, note_states_for_select, label: I18n.t('notes.labels.state') %>
    <%= f.date_field :start_time, label: I18n.t('notes.labels.start_time') %>
    <%= f.text_area :content, label: I18n.t('notes.labels.content'), placeholder: I18n.t('notes.placeholders.content') %>
  </div>
  <div class='modal-footer'>
    <% if note.persisted? %>
      <%= f.primary I18n.t('notes.save') %>
    <% else %>
      <%= f.primary I18n.t('notes.add') %>
    <% end %>
    <button type='button' class='btn btn-secondary mr-auto' data-dismiss='modal'><%= I18n.t('notes.cancel') %></button>

    <% if note.persisted? %>
      <%= link_to '', id: 'prev_note', class: 'ml-auto', remote: true, onclick: "window.dispatchEvent(new CustomEvent('prev', { note_id: #{note.id} }))" do %>
        <%= icon('chevron-left', width: '2em') %>
      <% end %>
      <%= link_to '', id: 'next_note', remote: true, onclick: "window.dispatchEvent(new CustomEvent('next', { note_id: #{note.id} }))" do %>
        <%= icon('chevron-right', width: '2em') %>
      <% end %>
    <% end %>
  </div>
<% end %>
