<div class='container my-4'>
  <%= link_to '< Back to team', dashboard_team_path(@user_group_team) %>
  <%= render 'info' %>
  <%= render 'tabs' %>
  <%= render 'shared/filters' %>
  <%= render 'boxes' %>

  <div class='row'>
    <div class='col-12'>
      <div class='card my-4'>
        <div class='card-body'>
          <div class='table-responsive'>
            <table class='table table-bordered'>
              <thead>
                <tr>
                  <th>
                    <%= TimeRange.human_attribute_name('week') %>
                  </th>
                  <th>
                    <%= TimeRange.human_attribute_name('plan') %>
                  </th>
                  <th>RiO Data</th>
                  <th>
                    <%= TimeRange.human_attribute_name('percentage') %>
                  </th>
                </tr>
              </thead>
              <tbody>
                <% @weekly_data.each_pair do |week, data| %>
                  <tr>
                    <td>
                      <%= date_range_humanized week %>
                    </td>
                    <td>
                      <%= duration_in_words data[:planned_minutes], :short %>
                    </td>
                    <td>
                      <%= duration_in_words data[:actual_minutes], :short %>
                    </td>
                    <td>
                      <%= data[:planned_minutes] > 0 ? "#{data[:percentage]}%" : icon('question-circle') %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <%#= paginate @weekly_data %>
        </div>
      </div>
    </div>
  </div>
</div>
