.container.my-4
  = link_to '< Back to team', dashboard_team_path(@presenter.user_group_team) if @presenter.user_group_team
  = render 'info'
  = render 'tabs'
  = render 'shared/filters'
  = render 'graph'
