.container.my-4
  - if @presenter.user_group_team
    = link_to '< Back to Team', [:dashboard, (@presenter.context == :admin_teams ? :admin : nil), :team, { id: @presenter.user_group_team }]
  = render 'info', presenter: @presenter
  = render 'tabs', presenter: @presenter
  = render 'shared/filters', presenter: @presenter
  = render 'graph', presenter: @presenter

:ruby
  dataset_labels = t("graphs.#{graph_kind}.dataset_labels.#{graph_time_scope}", default: nil)
  units = t("graphs.#{graph_kind}.units", default: '')

:javascript
  lineChartData = #{raw @presenter.to_json(graphs: [{ type: :line_chart,
                                                      data: :team_individual_data,
                                                      units: units,
                                                      dataset_labels: dataset_labels }])};
