.container.my-4
  = link_to '< Back to team', dashboard_team_path(@presenter.user_group_team) if @presenter.user_group_team
  = render 'info', presenter: @presenter
  = render 'tabs', presenter: @presenter
  = render 'shared/filters', presenter: @presenter
  = render 'graph', presenter: @presenter
