<div class='table-responsive'>
  <table class='table table-bordered mb-0'>
    <thead>
      <tr>
        <th>
          <%= I18n.t('tags.labels.name') %>
        </th>
        <th style='width: 50px;'>
        </th>
        <th style='width: 50px;'>
        </th>
      </tr>
    </thead>
    <tbody>
      <% tag_type.tags.each do |tag| %>
        <tr>
          <td>
            <%= tag.name %>
          </td>
          <td>
            <%= link_to [:edit, :admin, tag], class: 'btn btn-link' do %>
              <%= icon('pencil') %>
            <% end %>
          </td>
          <td>
            <%= link_to [:admin, tag], class: 'btn btn-link', method: :delete, data: { confirm: I18n.t('actions.confirm') } do %>
              <%= icon('trash') %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
