.card
  .card-header{ id: "heading#{index}" }
    %h5.mb-0
      %button.btn.btn-link{ 'aria-controls': "#collapse#{index}", 'aria-expanded': 'false',
                            'data-target': "#collapse#{index}", 'data-toggle': 'collapse' }
        = tag_type.name_with_ancestors
      = link_to [:admin, tag_type], method: :delete, data: { confirm: I18n.t('actions.confirm') }, class: 'float-right' do
        = icon('trash')
      = link_to [:edit, :admin, tag_type], class: 'float-right' do
        = icon('pencil')
      = link_to [:new, :admin, tag_type, :tag], class: 'float-right' do
        = icon('plus')
  .collapse{ 'aria-labelledby': "heading#{index}", 'data-parent': '#accordion', id: "collapse#{index}" }
    .card-body.p-0
      = render(partial: 'tag_type_table', locals: { tag_type: tag_type })
