.container.my-4
  .row
    .col-12
      = render 'user_tabs'
      = render 'shared/filters',
        presenter: @presenter,
        filter_tag_ids: @presenter.team_stats_presenter.filter_tag_ids,
        filter_start_time: @presenter.team_stats_presenter.filter_start_time,
        filter_end_time: @presenter.team_stats_presenter.filter_end_time
      = render 'team_individuals/boxes', presenter: @presenter
      = render 'team_individuals/graph', presenter: @presenter

:ruby
  dataset_labels = t("graphs.#{graph_kind}.dataset_labels.#{graph_time_scope}", default: nil)
  units = t("graphs.#{graph_kind}.units", default: '')

:javascript
  lineChartData = #{raw @presenter.to_json(graphs: [{ type: :line_chart, data: :team_individual_data, units: units, dataset_labels: dataset_labels }])};
  console.log('summary | lineChartData line_chart team_individual_data from presenter added here', lineChartData)