.container.my-4
  .row
    .col-12
      = link_to [:new, :admin, :api_user], class: 'btn btn-primary float-right mb-3' do
        = icon('plus')
        = I18n.t('actions.add', model_name: ApiUser.model_name.human)
      - if @api_users.any?
        .table-responsive
          %table.table.table-bordered
            %thead
              %tr
                %th= User.human_attribute_name('name')
                %th= User.human_attribute_name('contact_email')
                %th= User.human_attribute_name('created_by')
                %th= User.human_attribute_name('created_at')
                %th= User.human_attribute_name('token_generated_at')
                %th{ style: 'width: 50px;' }
                %th{ style: 'width: 50px;' }
            %tbody
              - @api_users.each do |api_user|
                %tr{ id: dom_id(api_user) }
                  %td= api_user.name
                  %td= api_user.contact_email
                  %td= api_user.created_by
                  %td= api_user.created_at.strftime(I18n.t('time.formats.readable'))
                  %td= api_user.token_generated_at&.strftime(I18n.t('time.formats.readable'))
                  %td
                    = link_to admin_api_user_path(api_user), class: 'btn btn-link' do
                      = icon('eye')
                  %td
                    = link_to admin_api_user_path(api_user), data: { confirm: I18n.t('actions.confirm'), method: :delete }, class: 'btn btn-link' do
                      = icon('trash')

        = paginate @api_users
