.container.my-4
  .row
    .col-12
      %h5
        = I18n.t('actions.add', model_name: ApiUser.model_name.human)
  .row
    .col-12
      = bootstrap_form_for [:admin, @api_user], as: :api_user, url: admin_api_users_path do |f|
        = f.error_summary
        = f.text_field :name,
                       label: ApiUser.human_attribute_name('name'),
                       placeholder: ApiUser.human_attribute_name('name'),
                       help: 'Example: Business Intelligence Systems Team',
                       required: true
        = f.text_field :contact_email,
                       label: ApiUser.human_attribute_name('contact_email'),
                       placeholder: ApiUser.human_attribute_name('contact_email'),
                       help: 'Example: bis_team@example.com'
        = f.submit I18n.t('actions.save'), class: 'btn btn-primary mt-2'
        = link_to I18n.t('actions.cancel'), :back, class: 'btn btn-outline-secondary mt-2'
