.container.my-4
  .row
    .col-12
      %h5
        = I18n.t('actions.generate', attribute_name: ApiUser.human_attribute_name('api_token'))
        for
        = @api_user.name
  .row
    .col-12
      %p= I18n.t('api_users.token_description')

      - if @api_user.token_sample
        .card.mt-4.mb-4
          .card-body
            .row
              .col-4
                = I18n.t('api_users.current_token')
              .col-4
                = ApiUser.human_attribute_name('token_generated_by')
              .col-4
                = ApiUser.human_attribute_name('token_generated_at')
            .row
              .col-4
                XXXXXXXXXXXXXXX#{@api_user.token_sample}
              .col-4
                = @api_user.token_generated_by
              .col-4
                = @api_user.token_generated_at.strftime(I18n.t('time.formats.readable'))

        = I18n.t('api_users.token_warning')

      = bootstrap_form_for [:admin, @api_user], url: generate_token_admin_api_user_path do |f|
        - if @api_user.token_sample
          = f.submit I18n.t('api_users.revoke_and_generate_new_token'), data: { confirm: I18n.t('actions.confirm') }, class: 'btn btn-danger mt-2'
        - else
          = f.submit I18n.t('api_users.generate_new_token'), class: 'btn btn-primary mt-2'

        = link_to I18n.t('actions.cancel'), admin_api_users_path, class: 'btn btn-outline-secondary mt-2'
