<%
  url ||= request.path
  filter_tag_ids ||= @presenter.filter_tag_ids
%>

<div class='card mb-4'>
  <div class='card-body'>
    <%= bootstrap_form_for :query, url: url, method: :get, html: { id: 'filters-form' } do |f| %>
      <div class='form-row'>
        <%= f.select :filter_tag_ids,
          grouped_options_for_select(tag_options, filter_tag_ids),
          { label: t('filters.tags'), wrapper: { class: 'col-md-8' } },
          { class: 'filter',
            multiple: true, 'data-actions-box': true, 'data-use-select2': true } %>

        <%= f.text_field :filter_date_range,
          { #value: @presenter.filter_date_range,
            label: t('filters.date_range'),
            wrapper: { class: 'col-md-3' },
            class: 'filter', autocomplete: 'off', 'data-use-litepicker': true, readonly: true,
            'data-filter-start-date': @presenter.filter_start_date, 'data-filter-end-date': @presenter.filter_end_date } %>

        <%= f.form_group class: 'col-md-1' do %>
          <div><label>&nbsp;</label></div>
          <%= f.submit t('actions.filter'), name: nil, class: 'btn btn-primary' %>
          <div><%= link_to 'Reset', request.path, class: 'small text-muted', title: 'Reset filters' %></div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

