<%
  url ||= request.path
  filter_tag_ids ||= @presenter.filter_tag_ids
  filter_start_time ||= @presenter.filter_start_date
  filter_end_time ||= @presenter.filter_end_date
%>

<div class='card mb-4'>
  <div class='card-body'>
    <%= bootstrap_form_for :query, url: url, method: :get, html: { id: 'filters-form' } do |f| %>
      <div class='form-row'>
        <%= f.select :filter_tag_ids,
          grouped_options_for_select(tag_options, filter_tag_ids),
          { label: t('filters.tags'), wrapper: { class: 'col-md-5' } },
          { class: 'filter',
            multiple: true, 'data-actions-box': true, 'data-use-select2': true } %>

        <%= f.date_select :filter_start_time,
          { label: t('filters.start_time'), wrapper: { class: 'col-md-3' },
            order: %i[month year], default: filter_start_time },
          class: 'filter'
        %>

        <%= f.date_select :filter_end_time,
          { label: t('filters.end_time'), wrapper: { class: 'col-md-3' },
            order: %i[month year], default: filter_end_time },
          class: 'filter' %>

        <%= f.form_group class: 'col-md-1' do %>
          <div><label>&nbsp;</label></div>
          <%= f.submit t('actions.filter'), name: nil, class: 'btn btn-primary' %>
          <div><%= link_to 'Reset', request.path, class: 'small text-muted', title: 'Reset filters' %></div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

