%nav.rootnav.navbar.navbar-expand-md.navbar-dark.bg-primary
  .container
    %a.navbar-brand{ href: root_path }
      = image_pack_tag 'media/images/logos/murfin-plus-logo-wht.svg', height: 50, class: 'ml-2', alt: 'Murfin+ logo'
    %button.navbar-toggler{ 'aria-controls': 'navbar-supported-content', 'aria-expanded': 'false', 'aria-label': 'Toggle navigation',
                            'data-target': '#navbar-supported-content', 'data-toggle': 'collapse', type: 'button' }
      %span.navbar-toggler-icon
    #navbar-supported-content.collapse.navbar-collapse.pl-4
      - if user_authenticated?
        %ul.navbar-nav.mr-auto
          - navs.each do |nav|
            - if nav[:enabled]
              %li.nav-item
                = link_to(nav[:label], nav[:path],
                  class: "nav-link #{' active' if current_page?(nav[:path]) || presenter.any_subnavs_active?(nav)}")
      %ul.navbar-nav.ml-auto
        - if user_authenticated?
          %li.nav-item
            = link_to account_path, class: 'nav-link p-3' do
              = I18n.t('nav.account')
              = icon('person', width: '2em')
        = render partial: 'shared/auth'
- navs.each do |nav|
  - if presenter.any_subnavs_active?(nav) && nav[:enabled]
    %nav.subnav.navbar.navbar-expand-lg.navbar-light
      .container
        %a.navbar-brand.d-lg-none
        %button.navbar-toggler{ 'aria-controls': 'subnav-content', 'aria-expanded': 'false', 'aria-label': 'Toggle navigation',
                                'data-target': '#subnav-content', 'data-toggle': 'collapse', type: 'button' }
          %span.navbar-toggler-icon
        #subnav-content.collapse.navbar-collapse.pl-4
          - if user_authenticated?
            %ul.navbar-nav.mr-auto
              - nav[:subnavs].each do |subnav|
                %li.nav-item.pl-3
                  = link_to(subnav[:label], subnav[:path],
                            class: "nav-link#{' active' if presenter.subnav_active?(subnav)}")
