= bootstrap_form_for :q, url: request.path, layout: :inline, method: :get, html: { id: 'search-form' } do |f|
  = f.search_field search_field_key, skip_label: true, placeholder: t("search_form.placeholders.#{placeholder_key}"), hint: 'Resetz'
  = f.submit t('actions.search'), class: 'btn btn-primary ml-1'
  .form-group= link_to t('actions.reset'), request.path, class: 'small text-muted pull-right'
