.container.my-4
  .row
    .col-12
      %h5
        - if @tag.persisted?
          = I18n.t('actions.edit', model_name: Tag.model_name.human.titleize)
        - else
          = I18n.t('actions.add', model_name: Tag.model_name.human.titleize)
  .row
    .col-12
      = bootstrap_form_for [:admin, @tag_type, @tag] do |f|
        - if (parent_tags = @tag.tag_type&.parent&.tags.presence)
          = f.select :parent_id,
            options_for_select(parent_tags.map { |t| [t.name, t.id] }, selected: f.object.parent_id),
            { label: TagType.human_attribute_name('parent') },
            class: 'input-group-btn'
        = f.text_field :name, label: Tag.human_attribute_name('name'),
          placeholder: Tag.human_attribute_name('name'), required: true
        = f.check_box :default_for_filter, label: TagType.human_attribute_name('default_for_filter')
        = f.submit I18n.t('actions.save'), class: 'btn btn-primary', style: 'margin-top: 10px;'
        = link_to I18n.t('actions.cancel'), :back, class: 'btn btn-outline-secondary mt-2'
