<div class='container my-4'>

  <div class='row'>
    <div class='col-12'>
      <h5>
        <%= I18n.t('tags.add', tag_type_name: @tag_type.name) %>
      </h5>
    </div>
  </div>

  <div class='row'>
    <div class='col-12'>
      <%= bootstrap_form_for [:admin, @tag_type, @tag] do |f| %>
        <%= f.text_field :name, label: Tag.human_attribute_name('name'), placeholder: Tag.human_attribute_name('name'), required: true %>
        <%= f.submit I18n.t('actions.save'), class: 'btn btn-primary', style: 'margin-top: 10px;' %>
        <%= link_to I18n.t('actions.cancel'), :back, class: 'btn btn-outline-secondary mt-2' %>
      <% end %>
    </div>
  </div>

</div>
