<div>
  <p>
    <%= I18n.t('home.you_can') %>
  </p>

  <ul>
    <li>
      <%= I18n.t('home.compare_plan_with_actuals') %>
    </li>
    <li>
      <%= I18n.t('home.drill_down') %>
    </li>
  </ul>

  <div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                  <canvas id="bar-chart"></canvas>
                </div>
            </div>

            <div class="card">
              <div class="card-body">
                <canvas id="line-graph"></canvas>
              </div>
            </div>
        </div>
     </div>
  </div>

  <% unless user_authenticated? %>
    <%= button_to root_url + 'auth/auth0', method: :post, type: 'button', class: 'btn btn-primary' do %>
      <%= I18n.t('auth.log_in') %> <i class='far fa-arrow-alt-circle-right'></i>
    <% end %>
  <% end %>

</div>

<%= javascript_pack_tag 'graphs/bar_chart', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'graphs/line_graph', 'data-turbolinks-track': 'reload' %>
