.container.my-4
  .row
    .col-12
      %h5= I18n.t("actions.#{@time_range.persisted? ? 'edit' : 'save'}", model_name: TimeRange.model_name.human.titleize)
  .row
    .col-12
      = bootstrap_form_for [:admin, @time_range] do |f|
        = f.select :time_range_type_id,
                    options_for_select(TimeRangeType.all.map { |t| [t.name, t.id] }, selected: f.object.time_range_type_id),
                    { label: TimeRange.human_attribute_name('time_range_type') },
                    class: 'input-group-btn',
                    required: true
        = f.datetime_select :start_time, label: TimeRange.human_attribute_name('start_time'), default: { hour: 9, minute: 0 }
        = f.datetime_select :end_time, label: TimeRange.human_attribute_name('end_time'), default: { hour: 17, minute: 0 }
        = f.number_field :seconds_worked, class: 'duration-picker-time-range', label: TimeRange.human_attribute_name('value'), step: :any

        #time-range-tag-associations.sa-activities-grid
          .sa-form-flex-row.nested-fields
            .sa-form-grid-fluid-columns
              = render 'shared/tag_associations', f: f

        = f.select :user_id,
          options_for_select(User.all.map { |t| [t.name, t.id] }, selected: f.object.user_id),
          { label: TimeRange.human_attribute_name('user') },
          class: 'input-group-btn',
          required: true
        = f.text_field :appointment_id
        = f.submit I18n.t('actions.save'), class: 'btn btn-primary mt-2'
        = link_to I18n.t('actions.cancel'), :back, class: 'btn btn-outline-secondary mt-2'
