<div class='container my-4'>

  <div class='row'>
    <div class='col-12'>
      <h5>
        <% if @time_range.persisted? %>
          <%= I18n.t('actions.edit', model_name: TimeRange.model_name.human.titleize) %>
        <% else %>
          <%= I18n.t('actions.add', model_name: TimeRange.model_name.human.titleize) %>
        <% end %>
      </h5>
    </div>
  </div>

  <div class='row'>
    <div class='col-12'>
      <%= bootstrap_form_for [:admin, @time_range] do |f| %>
        <%= f.select :time_range_type_id,
          options_for_select(TimeRangeType.all.map { |t| [t.name, t.id] }, selected: f.object.time_range_type_id),
          { label: TimeRange.human_attribute_name('time_range_type')},
          class: 'input-group-btn',
          required: true
        %>

        <%= f.datetime_select :start_time,
          label: TimeRange.human_attribute_name('start_time'),
          default: { hour: 9, minute: 0 }
        %>

        <%= f.datetime_select :end_time,
          label: TimeRange.human_attribute_name('end_time'),
          default: { hour: 17, minute: 0 }
        %>

        <%= f.number_field :seconds_worked, class: 'duration-picker-time-range', label: TimeRange.human_attribute_name('value'), step: :any %>

        <table class='table'>
          <thead class='bg-white'>
            <tr>
              <% TagType.active_for(Activity).sorted.each do |at| %>
                <th class='font-weight-normal'><%= at.name %></th>
              <% end %>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <%= render 'shared/tag_associations', f: f %>
          </tbody>
        </table>

        <%= f.select :user_id,
          options_for_select(User.all.map { |t| [t.name, t.id] }, selected: f.object.user_id),
          { label: TimeRange.human_attribute_name('user') },
          class: 'input-group-btn',
          required: true
        %>

        <%= f.submit I18n.t('actions.save'), class: 'btn btn-primary mt-2' %>
        <%= link_to I18n.t('actions.cancel'), :back, class: 'btn btn-outline-secondary mt-2' %>
      <% end %>
    </div>
  </div>

</div>
