.container.my-4
  .row.mb-3
    .col-md-8.col-sm-12
      = render 'shared/search_form',
                search_field_key: :user_first_last_name_or_user_last_first_name_or_tags_name_or_time_range_type_name_or_appointment_id_cont,
                placeholder_key: :time_ranges
    .col-md-4.col-sm-12
      = link_to [:new, :admin, :time_range], class: 'btn btn-primary float-right' do
        = icon('plus')
        = t('actions.add', model_name: TimeRange.model_name.human.titleize)
  .row
    .col-12
      .table-responsive
        %table#time-ranges-list.table.table-bordered
          %thead
            %tr
              %th= TimeRange.human_attribute_name('time_range_type')
              %th= TimeRange.human_attribute_name('start_time')
              %th= TimeRange.human_attribute_name('end_time')
              %th= TimeRange.human_attribute_name('time_worked')
              %th= TimeRange.human_attribute_name('user')
              %th= TimeRange.human_attribute_name('appointment_id_short')
              %th{ colspan: 2 }
          %tbody
            - @time_ranges.each do |time_range|
              - cache time_range do
                %tr{ data: { time_range_id: time_range.id } }
                  %td.text-nowrap= time_range.time_range_type.name
                  %td= time_range.start_time.strftime(I18n.t('time.formats.readable'))
                  %td= time_range.end_time.strftime(I18n.t('time.formats.readable'))
                  %td= duration_in_words(time_range.value.to_i, :short)
                  %td.text-nowrap= time_range.user.name
                  %td= time_range.appointment_id
                  %td.small-cell
                    = link_to [:edit, :admin, time_range], class: 'btn btn-link' do
                      = icon('pencil')
                  %td.small-cell
                    = link_to [:admin, time_range], method: :delete, data: { confirm: t('actions.confirm') }, class: 'btn btn-link' do
                      = icon('trash')
      = paginate @time_ranges
