.container.my-4
  .row
    - if AuthMethods.form?
      .col-md-4
        %h5= t('auth.log_in')
        = bootstrap_form_for resource, as: resource_name, url: session_path(resource_name), data: { turbo: false } do |f|
          = f.email_field :email, autofocus: true, autocomplete: 'off'
          = f.password_field :password, autocomplete: 'off'
          - if devise_mapping.rememberable?
            = f.check_box :remember_me
          = f.submit t('actions.log_in'), class: 'btn btn-primary mt-2'

    - if AuthMethods.ldap?
      .col-md-4
        %h5= t('auth.ldap.log_in')
        = bootstrap_form_for :ldap_user, url: session_path(resource_name), data: { turbo: false } do |f|
          = f.text_field :uid, label: t('activerecord.attributes.ldap_user.uid'), autocomplete: 'off'
          = f.password_field :password, autocomplete: 'off'
          = f.submit t('actions.log_in'), class: 'btn btn-primary mt-2'

