<div class="container my-4">

  <div class="row">
    <div class="col-md-4"><h5>Log in</h5></div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <%= bootstrap_form_for resource, as: resource_name, url: session_path(resource_name) do |f| %>
        <%= f.email_field :email, autofocus: true, autocomplete: 'email' %>
        <%= f.password_field :password, autocomplete: 'current-password' %>

        <% if devise_mapping.rememberable? %>
          <%= f.check_box :remember_me %>
        <% end %>

        <%= f.submit I18n.t('actions.log_in'), class: 'btn btn-primary mt-2' %>
      <% end %>

      <%#= render "devise/shared/links" %>
    </div>
  </div>
</div>
