.container.my-4
  .row.mb-3
    .col-9
      = render 'shared/search_form',
                search_field_key: :activities_tags_name_or_user_last_name_or_user_first_name_or_user_email_cont,
                placeholder_key: :job_plans
  .row
    .col-12
      = link_to new_plan_path, class: 'btn btn-primary float-right mb-3' do
        = icon 'plus'
        = t 'actions.add', model_name: Plan.model_name.human.titleize
      = render partial: 'plans/plans', locals: { plans: @plans }
