= turbo_frame_tag :team_individuals_users_table do
  .row
    .col-12
      %p= t 'graph.showing_users', count: presenter.paginated_users.count
      #team-individuals-table.table-responsive
        %table.table.table-bordered
          %thead
            %tr
              %th= t('team_individuals.plan')
              %th= t('team_individuals.average_planned_per_week')
              %th= t('team_individuals.average_actual_per_week')
              %th= t('team_individuals.average_percentage_per_week')
              %th= t('team_individuals.status')
              %th{ style: 'width: 50px;' }
          %tbody
            - presenter.paginated_users.each do |user|
              - user_presenter = presenter.user_stats_presenter(user)
              %tr{ 'data-user-id': user.id }
                %td= user.name
                %td
                  - if user_presenter.average_weekly_planned.nil?
                    = icon('question-circle')
                  - else
                    = duration_in_words(user_presenter.average_weekly_planned)
                %td
                  - if user_presenter.average_weekly_actual.nil?
                    = icon('question-circle')
                  - else
                    = duration_in_words(user_presenter.average_weekly_actual)
                %td
                  - if user_presenter.percentage_delivered.nil?
                    = icon('question-circle')
                  - else
                    #{user_presenter.percentage_delivered}%
                %td{ class: user_presenter.status.parameterize }= user_presenter.status
                %td
                  = link_to presenter.context == :admin_teams ? admin_team_individual_path(@user_group, user) : team_individual_path(@user_group, user),
                            title: 'Individual Summary', class: 'btn btn-link' do
                    = icon('eye')
      = paginate presenter.paginated_users
