<div class='container my-4'>

  <div class='row'>
    <div class='col-12'>
      <h5>
        <% if @time_range.persisted? %>
          <%= I18n.t('time_range.edit') %>
        <% else %>
          <%= I18n.t('time_range.add') %>
        <% end %>
      </h5>
    </div>
  </div>

  <div class='row'>
    <div class='col-12'>
      <%= bootstrap_form_for @time_range do |f| %>
        <%= f.select :time_range_type_id,
          options_for_select(TimeRangeType.all.map { |t| [t.name, t.id] }, selected: f.object.time_range_type_id),
          { label: I18n.t('time_range.labels.time_range_type') },
          class: 'input-group-btn',
          required: true
        %>

        <%= f.datetime_select :start_time,
          label: I18n.t('time_range.labels.start_time'),
          default: { hour: 9, minute: 0 }
        %>

        <%= f.datetime_select :end_time,
          label: I18n.t('time_range.labels.end_time'),
          default: { hour: 17, minute: 0 }
        %>

        <%= f.number_field :seconds_worked, class: 'duration-picker-time-range', label: I18n.t('time_range.labels.value'), step: :any %>

        <%= f.submit I18n.t('time_range.save'), class: 'btn btn-primary mt-2' %>
        <%= link_to I18n.t('time_range.cancel'), :back, class: 'btn btn-outline-secondary mt-2' %>
      <% end %>
    </div>
  </div>

</div>
