<div class='container my-5'>

  <div class='row'>
    <div class='col-12'>
      <%= bootstrap_form_for [:admin, @user] do |f| %>

      <%= f.text_field :first_name, label: I18n.t('users.labels.first_name'), placeholder: I18n.t('users.labels.first_name'), required: true %>
      <%= f.text_field :last_name, label: I18n.t('users.labels.last_name'), placeholder: I18n.t('users.labels.last_name'), required: true %>
      <%= f.text_field :email, label: I18n.t('users.labels.email'), placeholder: I18n.t('users.labels.email'), required: true %>
      <%= f.check_box :admin, label: I18n.t('users.labels.admin'), placeholder: I18n.t('users.labels.admin') %>

      <%= f.submit I18n.t('users.save'), class: 'btn btn-primary', style: 'margin-top: 10px;' %>
      <% end %>

    </div>
  </div>

</div>
