.container.my-4
  .row
    .col-12
      %h5
        - if @user.persisted?
          = I18n.t('actions.edit', model_name: User.model_name.human.titleize)
        - else
          = I18n.t('actions.add', model_name: User.model_name.human.titleize)
  .row
    .col-12
      = bootstrap_form_for [:admin, @user] do |f|
        = f.text_field :first_name, label: User.human_attribute_name('first_name'),
                       placeholder: User.human_attribute_name('first_name'), required: true
        = f.text_field :last_name, label: User.human_attribute_name('last_name'),
                       placeholder: User.human_attribute_name('last_name'), required: true
        = f.text_field :email, label: User.human_attribute_name('email'),
                       placeholder: User.human_attribute_name('email'), required: true
        = f.text_field :epr_uuid

        - if auth_method_used?('form')
          = f.password_field :password, label: User.human_attribute_name('password'),
                              placeholder: User.human_attribute_name('password')
          = f.password_field :password_confirmation, label: User.human_attribute_name('password_confirmation'),
                             placeholder: User.human_attribute_name('password_confirmation')
        = f.check_box :admin, label: User.human_attribute_name('admin'), placeholder: User.human_attribute_name('admin')
        %br
        - GroupType.with_user_groups.each do |group_type|
          %p
            = f.label group_type.name, for: "group_type_#{group_type.id}"
            %br
            = select_tag 'user[user_group_ids][]',
                          options_from_collection_for_select(group_type.user_groups, :id, :name, selected: @user.user_groups.pluck(:id)),
                          multiple: true, id: "group_type_#{group_type.id}", include_blank: true
            %br
        - if auth_method_enabled?('ldap') && @user.ldap.present?
          %p
            = f.label 'LDAP authentication details', for: :user_ldap
            %pre#user_ldap= @user.ldap

        = f.submit I18n.t('actions.save'), class: 'btn btn-primary mt-2'
        = link_to I18n.t('actions.cancel'), :back, class: 'btn btn-outline-secondary mt-2'
