<div class='container my-4'>

  <div class='row'>
    <div class='col-12'>
      <h5>
        <% if @user.persisted? %>
          <%= I18n.t('actions.edit', model_name: User.model_name.human.downcase) %>
        <% else %>
          <%= I18n.t('actions.add', model_name: User.model_name.human.downcase) %>
        <% end %>
      </h5>
    </div>
  </div>

  <div class='row'>
    <div class='col-12'>
      <%= bootstrap_form_for [:admin, @user] do |f| %>
        <%= f.text_field :first_name, label: User.human_attribute_name('first_name'), placeholder: User.human_attribute_name('first_name'), required: true %>
        <%= f.text_field :last_name, label: User.human_attribute_name('last_name'), placeholder: User.human_attribute_name('last_name'), required: true %>
        <%= f.text_field :email, label: User.human_attribute_name('email'), placeholder: User.human_attribute_name('email'), required: true %>
        <%= f.check_box :admin, label: User.human_attribute_name('admin'), placeholder: User.human_attribute_name('admin') %>
        <br>
        <% GroupType.all.each do |group_type| %>
          <% next unless group_type.user_groups.any? %>
          <p>
            <%= f.label group_type.name, for: "group_type_#{group_type.id}" %>
            <br>
            <%= select_tag 'user[user_group_ids][]',
                  options_from_collection_for_select(group_type.user_groups, :id, :name, selected: @user.user_groups.pluck(:id)),
                  id: "group_type_#{group_type.id}",
                  include_blank: true %>
            <br>
          </p>
        <% end %>

        <%= f.submit I18n.t('actions.save'), class: 'btn btn-primary mt-2' %>
        <%= link_to I18n.t('actions.cancel'), :back, class: 'btn btn-outline-secondary mt-2' %>
      <% end %>
    </div>
  </div>

</div>
