.container.my-4
  .row.mb-3
    .col-8
      = render 'shared/search_form',
                search_field_key: :email_or_first_last_name_or_last_first_name_or_epr_uuid_cont,
                placeholder_key: :users
    .col-4
      = link_to [:new, :admin, :user], class: 'btn btn-primary float-right' do
        = icon('plus')
        = t('actions.add', model_name: User.model_name.human.titleize)
      = link_to generate_csv_admin_users_path, method: :post, class: 'btn btn-primary float-right mr-2' do
        = icon('gear')
        = t('actions.generate_csv')
  .row
    .col-12
      .table-responsive
        %table#users-list.table.table-bordered
          %thead
            %tr
              %th= User.human_attribute_name('name')
              %th= User.human_attribute_name('email')
              %th= User.human_attribute_name('epr_uuid')
              %th{ colspan: 2 }
          %tbody
            - @users.each do |user|
              - cache user do
                %tr{ id: dom_id(user) }
                  %td
                    = user.name
                    - if user.admin?
                      %br/
                      Admin
                  %td= user.email
                  %td= user.epr_uuid
                  %td{ style: 'width: 50px;' }
                    = link_to [:edit, :admin, user], class: 'btn btn-link' do
                      = icon('pencil')
                  %td{ style: 'width: 50px;' }
                    = link_to [:admin, user], method: :delete, data: { confirm: I18n.t('actions.confirm') }, class: 'btn btn-link' do
                      = icon('trash')
      = paginate @users
