.container.my-4
  .row
    .col-12
      = link_to [:new, :admin, :user], class: 'btn btn-primary float-right mb-3' do
        = icon('plus')
        = I18n.t('actions.add', model_name: User.model_name.human.titleize)
      .table-responsive
        %table.table.table-bordered
          %thead
            %tr
              %th= User.human_attribute_name('name')
              %th= User.human_attribute_name('email')
              %th= User.human_attribute_name('epr_uuid')
              %th{ style: 'width: 50px;' }
              %th{ style: 'width: 50px;' }
          %tbody
            - @users.each do |user|
              - cache user do
                %tr{ id: dom_id(user) }
                  %td
                    = user.name
                    - if user.admin?
                      %br/
                      Admin
                  %td= user.email
                  %td= user.epr_uuid
                  %td
                    = link_to [:edit, :admin, user], class: 'btn btn-link' do
                      = icon('pencil')
                  %td
                    = link_to [:admin, user], method: :delete, data: { confirm: I18n.t('actions.confirm') }, class: 'btn btn-link' do
                      = icon('trash')
      = paginate @users
