<tr class='nested-fields'>
  <%= render 'shared/tag_associations', f: f %>

  <td class=<%= Activity.human_attribute_name('duration').parameterize %>>
    <%= f.number_field :seconds_per_week, class: 'duration-picker-activity', hide_label: true, step: :any %>
  </td>

  <td>
    <%= link_to_remove_association f do %>
      <%= icon('trash') %>
    <% end %>
  </td>
</tr>
