<div class='nested-fields card mb-4'>
  <div class='card-body'>
    <div class='row'>
      <label class='col-md-3 col-form-label'><%= I18n.t('activity.labels.duration') %></label>
      <%= f.number_field :seconds_per_week, class: 'duration-picker-activity col-md-9', hide_label: true, step: :any %>
    </div>

    <% TagType.all.each do |tag_type| %>
      <div class='row'>
        <label class='col-md-3 col-form-label'><%= tag_type.name %></label>
        <%= f.select :tags, tag_type.tags.map { |t| [ t.name, t.id ] }, class: 'col-md-9', hide_label: true %>
      </div>
    <% end %>

    <div class='row'>
      <div class='col-md'>
        <%= link_to_remove_association I18n.t('activity.remove'), f %>
      </div>
    </div>
  </div>
</div>
