<div class='nested-fields card mb-4'>
  <div class='card-body'>
    <div class='row'>
      <label class='col-md-3 col-form-label'><%= Activity.human_attribute_name('duration') %></label>
      <div class='col-md-9'>
        <%= f.number_field :seconds_per_week, class: 'duration-picker-activity', hide_label: true, step: :any %>
      </div>
    </div>

    <% f.object.build_missing_activity_tags %>
    <%= f.fields_for :activity_tags, f.object.activity_tags.sort_by { |at| at.tag_type.name_with_parent } do |activity_tag_form| %>
      <%= render 'activity_tag_fields', f: activity_tag_form %>
    <% end %>

    <div class='row'>
      <div class='col-md'>
        <%= link_to_remove_association I18n.t('actions.remove', model_name: Activity.model_name.human), f %>
      </div>
    </div>
  </div>
</div>
