#plan-activities-card.border.my-4.p-4
  %label= Plan.human_attribute_name('activities')

  .row.border-bottom.border-top.pt-1.pb-1
    - TagType.active_for(Activity).sorted.each do |tt|
      .col-3.font-weight-normal.sort{ 'data-sort': tt.name.parameterize }
        = tt.name

    .col-3.font-weight-normal.sort{ 'data-sort': Activity.human_attribute_name('duration').parameterize }
      = Activity.human_attribute_name('duration')

  #plan-activities-list
    = f.fields_for :activities, wrapper: false, include_id: false do |ff_a|
      = render 'activity_fields', plan: plan, plan_form: f, f: ff_a

  - if @plan.activities.any?
    .row.justify-content-end.pt-2
      #plan-total-time-worked-per-week.col-3.small
        = t 'plans.total_time_worked_per_week', total: duration_in_words(plan.total_minutes_worked_per_week, :short)

  - if plan_show_contracted_hours_error?(plan)
    .alert.alert-warning= t('plans.errors.total_time_worked_per_week_higher_than_contracted')

  - if policy(plan).update?
    %div
      = link_to_add_association I18n.t('actions.add', model_name: Activity.model_name.human.titleize), f,
                                :activities,
                                data: { 'association-insertion-node': '#plan-activities-list', 'association-insertion-method': 'append' },
                                class: 'btn btn-primary',
                                render_options: { locals: { plan: plan } }
