<div class='table-responsive'>
  <table class='table table-bordered'>
    <thead>
      <tr>
        <th>
          <%= Plan.human_attribute_name('name') %>
        </th>
        <th>
          <%= Plan.human_attribute_name('start_date') %>
        </th>
        <th>
          <%= Plan.human_attribute_name('end_date') %>
        </th>
        <th>
          <%= Plan.human_attribute_name('state') %>
        </th>
        <th style='width: 50px;'></th>
        <th style='width: 50px;'></th>
      </tr>
    </thead>
    <tbody>
      <% plans.each do |plan| %>
        <% cache plan do %>
          <tr>
            <td>
              <%= plan.name %>
            </td>
            <td>
              <%= I18n.l(plan.start_date, format: :readable) %>
            </td>
            <td>
              <%= I18n.l(plan.end_date, format: :readable) %>
            </td>
            <td>
              <h4 class='text-white'>
                <span class='badge <%= state_badge_colour(plan) %>'>
                  <%= display_state(plan) %>
                </span>
              </h4>
            </td>
            <td>
              <% if policy(plan).edit? %>
                <%= link_to [:edit, plan], class: 'btn btn-link' do %>
                  <%= icon('pencil') %>
                <% end %>
              <% end %>
            </td>
            <td>
              <% if policy(plan).destroy? %>
                <%= link_to [plan], method: :delete, data: { confirm: I18n.t('actions.confirm') }, class: 'btn btn-link'  do %>
                  <%= icon('trash') %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate @plans %>
