.table-responsive
  %table.table.table-bordered
    %thead
      %tr
        %th= Plan.human_attribute_name('name')
        %th= Plan.human_attribute_name('start_date')
        %th= Plan.human_attribute_name('end_date')
        %th= Plan.human_attribute_name('state')
        %th{ style: 'width: 50px;' }
        %th{ style: 'width: 50px;' }
    %tbody
      - plans.each do |plan|
        - cache plan do
          %tr
            %td= plan.name
            %td= I18n.l(plan.start_date, format: :readable)
            %td= I18n.l(plan.end_date, format: :readable)
            %td
              %h4.text-white
                %span{ class: "badge #{state_badge_colour(plan)}" }
                  = display_state(plan)
            %td
              - if policy(plan).edit?
                = link_to [:edit, plan], class: 'btn btn-link' do
                  = icon('pencil')
            %td
              - if policy(plan).destroy?
                = link_to [plan], method: :delete, data: { confirm: I18n.t('actions.confirm') }, class: 'btn btn-link' do
                  = icon('trash')
= paginate plans
