<div class='container my-4'>

  <div class='row'>
    <div class='col-12'>
      <h5>
        <% if @plan.persisted? %>
          <%= I18n.t('actions.edit', model_name: Plan.model_name.human.titleize) %>
        <% else %>
          <%= I18n.t('actions.add', model_name: Plan.model_name.human.titleize) %>
        <% end %>
      </h5>
    </div>
  </div>

  <div class='row'>
    <div class='col-12'>
      <%= bootstrap_form_for @plan do |f| %>
        <%= f.date_select :start_date,
          label: Plan.human_attribute_name('start_date')
        %>

        <% if @plan.persisted? %>
          <%= f.date_select :end_date,
            label: Plan.human_attribute_name('end_date')
          %>
        <% end %>

        <label><%= Plan.human_attribute_name('activities') %></label>

        <table id='sortable' class='table'>
          <thead class='bg-white'>
            <tr>
              <% TagType.active_for(Activity).sorted.each do |t| %>
                <th class='font-weight-normal sort' data-sort=<%= t.name.parameterize %>><%= t.name %></th>
              <% end %>
              <th class='font-weight-normal sort' data-sort=<%= Activity.human_attribute_name('duration').parameterize %>><%= Activity.human_attribute_name('duration') %></th>
              <th></th>
            </tr>
          </thead>
          <tbody class='activities list'>
            <%= f.fields_for :activities, wrapper: false do |activity_form| %>
              <%= render 'activity_fields', plan_form: f, f: activity_form %>
            <% end %>
          </tbody>
        </table>

        <div>
          <%= link_to_add_association I18n.t('actions.add', model_name: Activity.model_name.human.titleize), f, :activities, data: { 'association-insertion-node' => 'tbody.activities', 'association-insertion-method' => 'append' }, class: 'btn btn-primary' %>
        </div>

        <%= f.submit I18n.t('actions.save'), class: 'btn btn-primary mt-4' %>
        <%= link_to I18n.t('actions.cancel'), plans_path, class: 'btn btn-outline-secondary mt-4' %>
      <% end %>
    </div>
  </div>

</div>
