.container.my-4
  .row
    .col-12
      = render 'users/user_tabs'
      = link_to [:new, :plan], class: 'btn btn-primary float-right mb-3' do
        = icon('plus')
        = I18n.t('actions.add', model_name: Plan.model_name.human.titleize)
      = render partial: 'plans', locals: { plans: @plans }
