!!!
/[if lt IE 9] <html class='ie8' lang='en'>
/[if IE 9] <html class='ie9' lang='en'>
/ [if gt IE 9]><!
%html{ lang: 'en' }
  / <![endif]
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }
    %meta{ charset: 'utf-8' }
    %meta{ content: 'IE=edge', 'http-equiv': 'X-UA-Compatible' }
    %meta{ content: 'width=device-width, initial-scale=1, shrink-to-fit=no', name: 'viewport' }
    %meta{ content: '', name: 'description' }
    - if user_signed_in?
      %meta{ content: 'true', name: 'user_logged_in' }
    %title= I18n.t('app.name')
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbo-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbo-track': 'reload'
    = render 'shared/google_analytics' if !Rails.env.test? && ENV['GA_GLOBAL_SITE_TAG']
  %body
    = render partial: 'shared/nav', locals: { presenter: @nav_presenter, navs: @nav_presenter&.navs || [] }
    %main
      .container
        = render partial: 'shared/flash'
        = yield
      #modal-root
    = render partial: 'shared/footer'
