<!DOCTYPE html>
<!--[if lt IE 9]><html class='ie8' lang='en'><![endif]-->
<!--[if IE 9]><html class='ie9' lang='en'><![endif]-->
<!--[if gt IE 9]><!-->
<html lang='en' style=''>
<!--<![endif]-->

  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <meta name='description' content=''>

    <title>
      <%= I18n.t('app.name') %>
    </title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%=
      render(
        partial: 'shared/nav',
        locals: {
          navs: [
            {
              label: I18n.t('nav.admin_dashboard'),
              path: admin_dashboard_path
            },
            {
              label: I18n.t('nav.team_dashboard'),
              path: teams_dashboard_path,
              subnavs: [
                { label: I18n.t('nav.tabs.team'), path: teams_dashboard_path },
                { label: I18n.t('nav.tabs.individuals'), path: individuals_dashboard_path }
              ]
            }
          ]
        }
      )
    %>

    <main>
      <div class='container'>
        <%= yield %>
      </div>

      <div id='modal-root'></div>
    </main>

    <%= render(partial: 'shared/footer') %>

  </body>

</html>
