<!DOCTYPE html>
<!--[if lt IE 9]><html class='ie8' lang='en'><![endif]-->
<!--[if IE 9]><html class='ie9' lang='en'><![endif]-->
<!--[if gt IE 9]><!-->
<html lang='en' style=''>
<!--<![endif]-->

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
  <meta name='description' content=''>

  <title>
    <%= I18n.t('app.name') %>
  </title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <nav class='navbar flex-md-nowrap bg-primary p-4'>
    <%= image_pack_tag 'media/images/logos/nhs.svg', width: '100 px' %>

    <% if user_authenticated? %>
      <%= link_to auth_logout_path, class: 'nav-link' do %>
        <%= I18n.t('auth.log_out') %> <%= current_user_name %> <i class='far fa-arrow-alt-circle-right'></i>
      <% end %>
    <% else %>
      <%= button_to root_url + 'auth/auth0', method: :post, type: 'button', class: 'btn btn-primary' do %>
        <%= I18n.t('auth.log_in') %> <i class='far fa-arrow-alt-circle-right'></i>
      <% end %>
    <% end %>
  </nav>

  <main>
    <%= yield %>
  </main>

  <footer class='page-footer font-small blue'>
    <div class='d-flex justify-content-start'>
      <div class='text-center m-4'>
        <a href='/api_docs'><%= I18n.t('footer.api_docs') %></a>
      </div>
    </div>
  </footer>

</body>

</html>
