<div class='container my-4'>

  <div class='row'>
    <div class='col-12'>
      <h5>
        <% if @group_type.persisted? %>
          <%= I18n.t('actions.edit', model_name: GroupType.model_name.human.downcase) %>
        <% else %>
          <%= I18n.t('actions.add', model_name: GroupType.model_name.human.downcase) %>
        <% end %>
      </h5>
    </div>
  </div>

  <div class='row'>
    <div class='col-12'>
      <%= bootstrap_form_for [:admin, @group_type] do |f| %>
        <%= f.text_field :name, label: GroupType.human_attribute_name('name'),
                                placeholder: GroupType.human_attribute_name('name'),
                                help:  I18n.t('group_types.labels.name_help'),
                                required: true %>
        <%= f.submit I18n.t('actions.save'), class: 'btn btn-primary', style: 'margin-top: 10px;' %>
        <%= link_to I18n.t('actions.cancel'), :back, class: 'btn btn-outline-secondary mt-2' %>
      <% end %>
    </div>
  </div>

</div>
